[submodule "pulp-tools"]
	path = pulp-tools
	url = https://github.com/pulp-platform/pulp-tools.git
[submodule "pulp-configs"]
	path = pulp-configs
	url = https://github.com/pulp-platform/pulp-configs.git
[submodule "json-tools"]
	path = json-tools
	url = https://github.com/pulp-platform/json-tools.git
