[submodule "tools/gvsoc/pulp"]
	path = tools/gvsoc/pulp
	url = https://github.com/pulp-platform/gvsoc_pulp.git
[submodule "tools/gvsoc/common"]
	path = tools/gvsoc/common
	url = https://github.com/GreenWaves-Technologies/gvsoc.git
